p#notice= notice

p
  strong= t('.title')
p= banner.name
p
  strong= t('.priority')
p= banner.priority
p
  strong= t('.visible')
p= banner.visible
p
  strong= t('.image')
p= cl_image_tag(banner.image.url(:small))

= link_to :edit, edit_admin_banner_path(banner), class: 'btn btn-default'
'|
= link_to :back, admin_banners_path, class: 'btn btn-default'
