h1= t('.title')
==render 'edit_form', url: admin_article_path(show_article)
=link_to :show, admin_article_path(show_article), class: 'btn btn-default'
'|
=link_to :back, admin_articles_path, class: 'btn btn-default'

