/ .col-xs-6
/   = f.input :radio_button,
/     collection: [[true, { 'data-name'=> 'organizer' }, 'Organizer'], [false, { 'data-name'=> 'city' }, 'City']],
/       label_method: :last,
/       value_method: :first,
/       as: :radio_buttons,
/       item_wrapper_class: 'inline',
/       checked: true,
/       label: false
/ .col-xs-6
/ = f.input :organizer_id, as: :select, collection: Event.all.map{ |o| [o.organizer.title, { "data-organizer"=> "organizer-#{o.date.year}" } ]}, label: false, prompt: t('prompts.select_organizer'), input_html: { data: { organizer: 'organizers' } }
/ .col-xs-6
= f.input :city, as: :select, collection: Event.all.map{ |o| [o.city, { "data-city"=> "city-#{o.date.year}"} ]}.uniq, prompt: t('prompts.select_city'), input_html: { data: { city: 'cities' } }, label: false
