.nested-fields.row.input_fields_form
  = link_to_remove_association '', f, class: 'fa fa-times'
  = f.input :title, label: false, input_html: { placeholder: true }
  = f.input :length_id, as: :select, collection: Length.ready, label: false, prompt: t('prompts.length_id')
