default: &default
  cloud_name: dj7gguiej
  api_key: '334659564612832'
  api_secret: K0PG8FqRpJmdW2X9ERnvRAKOI2I
  enhance_image_tag: true
  static_image_support: false
  secure: true

development:
  <<: *default

production:
  <<: *default

test:
  <<: *default

staging:
  <<: *default
