default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password: postgres

development:
  <<: *default
  database: jack_development

test:
  <<: *default
  database: jack_test

production:
  <<: *default
  database: 'database'
  username: 'username'
  password: <%= ENV['JACK_DATABASE_PASSWORD'] %>
