$white: #FFFFFF;
$black: #000000;
$gray: #cacaca;
$dimgray: #7e7e90;
$darkslategray: #303043;
$teal: #0755a9;
$dodgerblue: #298ffc;
$dodgerblue-ligth: rgba(41, 143, 252, 0.53);
$slategray: rgba(103, 122, 141, 0.17);
$lightsteelblue: #b8cadd;
$lavender: #d5e8fc;
$btncolor: #58AFBE;
