.avatar {
  padding: 0;
  img {
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
  }
}
.profile-menu {
  display: block;
  background: $gray;
  padding-left: 5px;
  border: 2px solid $gray;
  a {
    cursor: pointer;
    text-decoration: none;
  }
}

.user-list {
  border-bottom: 1px solid $gray;
  img {
    display: block;
    margin: 30px auto 0;
    border-radius: 5px;
  }
}

.user-name {
  font-size: 14px;
  text-align: center;
  margin: 10px;
  a {
    color: $black;
  }
}

.length-info {
  padding: 30px 15px;
  text-align: center;
  .medal {
    width: 85px;
    height: 110px;
    background: asset-url('athletic.png') top left no-repeat;
    background-size: 310px;
  }
  .count {
    font-weight: bold;
  }
  .length{
    &-ultra {
      background-position: -111px -100px;
    }
    &-42-2 {
      background-position: -14px -100px;
    }
    &-21-1 {
      background-position: -209px -100px;
    }
    &-10 {
      background-position: -14px -226px;
    }
    &-5 {
      background-position: -111px -226px;
    }
    &-3 {
      background-position: -209px -226px;
    }
    &-1 {
      background-position: -14px -353px;
    }
  }
}
