@import 'jquery-ui';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'lazybox';
@import 'jquery.datetimepicker';
@import 'layouts';
@import 'events';
@import 'banner';

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 50px 0 100px;
}
.translation_missing {
  color: red;
  background: black;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
