@import 'jquery-ui';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'lazybox';
@import 'jquery.datetimepicker';
@import 'footer';
@import 'events';
@import 'competition';
@import 'navbar';
@import 'banner';
@import 'users';

/* Fonts */
@font-face {
  font-family: "ComfortaaRegular";
  src: font-url("ComfortaaRegular.woff");
}

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'ComfortaaRegular';
  min-height: 100%;
  padding: 90px 0 100px;
  position: absolute;
  width: 100%;
}
.translation_missing {
  color: red;
  background: black;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.btn-default {
  position: relative;
  border: none;
  color: #fff;
  background: #298ffc;
  transition: .3s ease-out;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 4px;
  &:hover, &:focus {
    color: #fff;
    background: #26263a;
  }
}
