@import 'jquery-ui';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'lazybox';
@import 'jquery.datetimepicker';
@import 'footer';
@import 'events';
@import 'competition';
@import 'navbar';
@import 'banner';
@import 'animate';
@import 'users';
@import 'length';
@import 'distance';
@import 'simplemde.min';

/* Fonts */
@font-face {
  font-family: "DidactGothicRegular";
  src: font-url("DidactGothicRegular.woff");
}

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'DidactGothicRegular';
  min-height: 100%;
  padding: 90px 0 100px;
  position: absolute;
  width: 100%;
}
#lazybox {
  border-radius: 6px;
}
.login-btn {
  width: 260px;
}
.translation_missing {
  color: red;
  background: black;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.btn-default {
  position: relative;
  margin: 2px;
  text-align: center;
  border: none;
  color: $white;
  background: $dodgerblue;
  transition: .3s ease-out;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 4px;
  &:hover, &:focus {
    color: $white;
    background: $darkslategray;
  }
}
.more {
  margin-left: 22px;
}
.new_event {
  margin-left: 50px;
}
input[type=submit].btn-default{
  background: $teal;
  float: right;
  margin-bottom: 15px;
  &:hover, &:focus {
    background: $darkslategray;
  }

}
.file-upload {
  width: 20%;
  .btn-default {
    padding: 1px;
    input[type=file] {
      position: absolute;
      cursor: pointer;
      opacity: 0;
      left: 0;
      top: 0;
      width: 100%;
      padding: 13px;
    }
  }
}
.result {
  text-align: center;
}
.form-control {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding: 7px 18px;
  line-height: 34px;
  color: #7e7e90;
  background: #f7fafd;
  border: 1px solid #e0e0e8;
  border-radius: 4px;
  font-weight: 600;
  margin: 10px 0;
}
.alert-notification {
  background: $lavender;
}
.session-form {
  width: 364px;
  height: 222px;
  padding: 30px 0;
  background: asset-url('trace.png') bottom right no-repeat;
}

.active-jack {
  margin-top: 30px;
  width: 285px;
  height: 522px;
  background: asset-url('jack.png') bottom right no-repeat;
  background-size: cover;
}

.right {
  float: right;
}

.add-competition {
  margin-top: 50px;
}

input[type=submit].btn-default, .btn-default {
  background-color: $btncolor;
}

select.year-select {
  width: 200px !important;
}

.protocol-text {
  margin-top: 15px;
}
