body {
  font-family: "Arial",  sans-serif;
  margin: 0;
  height: 100vh;
  background: linear-gradient(0deg, rgb(69,92,88), rgb(105,119,111)) no-repeat;
}
.arch {
  position: relative;
  left: 50%;
  transform: translateX(-50%) translateY(30%);
  width: 750px;
  height: 380px;
  background: asset-url("arch.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.clock {
  position: absolute;
  top: 95px;
  left: 47.5%;
  width: 459px;
  transform: translateX(-45.5%);
  text-align: center;
  .block {
    display: inline-block;
    margin: 10px;
    font-size: 59px;
    span {
      opacity: .7;
      letter-spacing: 11px;
    }
  }
}
