= link_to t('.organizers'), admin_organizers_path
br
= link_to t('.lengths'), admin_lengths_path
br
= link_to t('.categories'), admin_categories_path
br
= link_to t('.events'), admin_events_path
br
= link_to 'Users', admin_users_path
br
= link_to 'News', admin_articles_path
