= link_to 'Список Організаторів', admin_organizers_path
br
= link_to 'Список Дистанцій', admin_lengths_path
br
= link_to 'Список Категорій', admin_categories_path
br
= link_to 'Список Забігів', admin_events_path
